.container {
  padding: 0 1em;
  width: 50%;
}

ul {
  padding-inline-start: 0;
}

li {
  background: rgb(13, 123, 167);
  color: #fff;
  padding: 1em;
  margin: 0.5em 0;
}

button {
  cursor: pointer;
  padding: 0.5em 1em;
}

.accordion-content {
  display: none;
}