.container {
  padding: 0 1em;
  width: 50%;
}

ul {
  padding-inline-start: 0;
}

li {
  background: rgb(13, 123, 167);
  color: #fff;
  padding: 1.25em 1em;
  margin: 0.5em 0;
}

.accordion {
  cursor: pointer;
  border: none;
  background: none;
  color: #fff;
  font-size: 1.5em;
}

.accordion-content {
  display: none;
}

.active {
  display: block;
}